.card {
  width: 100%;
  max-width: 788px;
  box-shadow: 0px 7px 25px 0px #64646F33;

  text-decoration: none;
  color: #767676;
  padding: 20px 30px;
}

.name {
  font-family: 'Fira Sans', sans-serif;
  color: #282626;
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  letter-spacing: 0px;

  margin: 0;
}

.status,
.created {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
}

.alive,
.dead,
.unknown {
  font-weight: 700;
}

.alive {
  color: green;
}

.dead {
  color: red;
}

.unknown {
  color: rgb(178, 178, 4);
}

.foundCharacters {
  margin-top: 10px;
  font-size: 1.2em;
  color: #555;
  text-align: center;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}