.characterList {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(6, 1fr);
  width: 100%;
}

@media (max-width: 1200px) {
  .characterList {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 768px) {
  .characterList {
    grid-template-columns: 1fr;
  }
}